<!DOCTYPE html>
<html lang="ca">

<head>
  <!-- Force latest IE rendering engine or ChromeFrame if installed -->
  <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <![endif]-->
  <meta charset="utf-8" />
  <title>MercaBarna Postales</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Bootstrap styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/index.css" />
  <!-- Generic page styles -->

  <link rel="stylesheet" href="https://blueimp.github.io/Gallery/css/blueimp-gallery.min.css" />
  <link rel="stylesheet" href="css/jquery.fileupload.css" />
  <link rel="stylesheet" href="css/jquery.fileupload-ui.css" />
  <noscript>
    <link rel="stylesheet" href="css/jquery.fileupload-noscript.css" />
  </noscript>
  <noscript>
    <link rel="stylesheet" href="css/jquery.fileupload-ui-noscript.css" />
  </noscript>
</head>

<body>
  <div id="idioma"><a class="IdiomaESP" href="#">Esp</a>/<a class="IdiomaCAT" href="#">Cat</a></div>

  <div id="Header"><img class="HeaderLogo" src="img/Logo_Merca.png"></div>


  <div class="TextIntro">
    <div class="TopeTexto">
      <p class="TextoIntro1">Quan aplaudíem a les vuit del vespre cada dia, també ho fèiem pels treballadors i
        treballadores de Mercabarna.<br> Un gran equip que no ha parat de treballar per proveir d’aliments a la ciutadania.
      </p>

      <p class="TextoIntro2">La felicitació de Nadal de Mercabarna d’aquest any és un homenatge al seu esforç, compromís
        i valor. Vosaltres, els essencials, sou protagonistes del Nadal a Mercabarna.</p>

    </div>

  </div>

  <div class="SeccionVideo">

    <p id="PreSalto" class="VideoText">Si tu també vols enviar els teus desitjos a qui més estimes, crea una postal
      seguint quatre senzills passos:</p>
    <p>1. Tria el teu mercat.<br>
      2. Tria una foto o puja’n una de la teva galeria.<br>
      3. Escriu els teus desitjos i previsualitza la teva postal.<br>
      4. Descarrega la postal i comparteix-la amb el hashtag #DesitjosMercabarna</p>
  </div>

  <p id="Start" class="TextTria Section1">Tria el teu mercat:</p>
  <div class="container ExMargen">
    <div id="TitGalery">
      <a href="#SelectFondo" class="Texto_1">
        <div class="Tits MargenInf"><img class="TitImage" src="img/Titulos/Texto_1.png"></div>
      </a>
      <a href="#SelectFondo" class="Texto_2">
        <div class="Tits MargenInf"><img class="TitImage" src="img/Titulos/Texto_2.png"></div>
      </a>
      <a href="#SelectFondo" class="Texto_3">
        <div class="Tits MargenInf"><img class="TitImage" src="img/Titulos/Texto_3.png"></div>
      </a>
      <a href="#SelectFondo" class="Texto_4">
        <div class="Tits"><img class="TitImage" src="img/Titulos/Texto_4.png"></div>
      </a>
      <a href="#SelectFondo" class="Texto_5">
        <div class="Tits"><img class="TitImage" src="img/Titulos/Texto_5.png"></div>
      </a>
      <a href="#SelectFondo" class="Texto_6">
        <div class="Tits"><img class="TitImage" src="img/Titulos/Texto_6.png"></div>
      </a>
    </div>
  </div>

  <p id="SelectFondo" class="TextTria Section2">Tria una foto o puja la teva:</p>

  <div class="container ExMargen">
    <div id="TitFondo">
      <a href="#" class="Imagen1">
        <div class="Fons"><img class="FonsImage" src="img/Fondos/02_Mercabarna/Imagen1.jpg"></div>
      </a>
      <a href="#" class="Imagen2">
        <div class="Fons"><img class="FonsImage" src="img/Fondos/02_Mercabarna/Imagen2.jpg"></div>
      </a>
      <a href="#" class="Imagen3">
        <div class="Fons"><img class="FonsImage" src="img/Fondos/02_Mercabarna/Imagen3.jpg"></div>
      </a>

      <a href="#" class="Imagen4">
        <div class="Fons"><img class="FonsImage" src="img/Fondos/02_Mercabarna/Imagen4.jpg"></div>
      </a>
      <a href="#" class="Imagen5">
        <div class="Fons"><img class="FonsImage" src="img/Fondos/02_Mercabarna/Imagen5.jpg"></div>
      </a>
      <a href="#" class="Imagen6">
        <div class="Fons"><img class="FonsImage" src="img/Fondos/02_Mercabarna/Imagen6.jpg"></div>
      </a>

      <a href="#" class="Imagen7">
        <div class="Fons"><img class="FonsImage" src="img/Fondos/02_Mercabarna/Imagen7.jpg"></div>
      </a>
      <a href="#" class="Imagen8">
        <div class="Fons"><img class="FonsImage" src="img/Fondos/02_Mercabarna/Imagen8.jpg"></div>
      </a>
      <a href="#" class="Imagen9">
        <div class="Fons"><img class="FonsImage" src="img/Fondos/02_Mercabarna/Imagen9.jpg"></div>
      </a>

      <a href="#" class="Imagen10">
        <div class="Fons"><img class="FonsImage" src="img/Fondos/02_Mercabarna/Imagen10.jpg"></div>
      </a>
      <a href="#" class="Imagen11">
        <div class="Fons"><img class="FonsImage" src="img/Fondos/02_Mercabarna/Imagen11.jpg"></div>
      </a>
    </div>
  </div>


  <!-- The file upload form used as target for the file upload widget -->
  <form id="fileupload" action="https://jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row fileupload-buttonbar">
      <div class="col-lg-12">
        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn-success btnMercaBarna BorderRounds fileinput-button">
          <!-- <i class="glyphicon glyphicon-plus"></i> -->
          <span>Afegeix la teva foto</span>
          <input type="file" name="files[]" multiple />
        </span>
        <!-- The global file processing state -->
        <span class="fileupload-process"></span>
      </div>
      <!-- The global progress state -->
      <div class="col-lg-12 fileupload-progress fade">
        <!-- The global progress bar -->
        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
        </div>
        <!-- The extended global progress state -->
        <div class="progress-extended">&nbsp;</div>
      </div>
    </div>
    <!-- The table listing the files available for upload/download -->
    <table role="presentation" class="table table-striped">
      <tbody class="files"></tbody>
    </table>
  </form>



  <!-- The blueimp Gallery widget -->
  <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" aria-label="image gallery"
    aria-modal="true" role="dialog" data-filter=":even">
    <div class="slides" aria-live="polite"></div>
    <h3 class="title"></h3>
    <a class="prev" aria-controls="blueimp-gallery" aria-label="previous slide" aria-keyshortcuts="ArrowLeft"></a>
    <a class="next" aria-controls="blueimp-gallery" aria-label="next slide" aria-keyshortcuts="ArrowRight"></a>
    <a class="close" aria-controls="blueimp-gallery" aria-label="close" aria-keyshortcuts="Escape"></a>
    <a class="play-pause" aria-controls="blueimp-gallery" aria-label="play slideshow" aria-keyshortcuts="Space"
      aria-pressed="false" role="button"></a>
    <ol class="indicator"></ol>
  </div>

  <p id="SelectText" class="TextTria Section3">escriu la teva postal:</p>

  <div class="container ExMargen">

    <div class="MeteDatos BorderRounds">
      <div class="TitDatos">
        <p class="Datos1">De:</p>
        <p class="Datos2">Per a:</p>
        <p class="Datos3">Els teus desitjos:</p>

      </div>
      <div class="MeteTextos">
        <input type="text" id="De" name="name" required minlength="4" maxlength="25" size="10">
        <input type="text" id="Per" name="name" required minlength="4" maxlength="25" size="10">
        <textarea type="textarea" id="Desitjos" name="name" required minlength="4" maxlength="450" size="10"></textarea>
      </div>
    </div>
  </div>


  <p class="TextTria Section4">La teva postal:</p>

  <div class="container ExMargen">
    <div id="PostalTrans" style="background: transparent">
      <div id="Postal" class="BorderRounds"><img class="Titulo BorderRounds" src="img/Titulos/Texto_2.png"><img
          class="Fondo BorderRounds" src="img/Fondos/02_Mercabarna/Imagen6.jpg">
        <img class="Guia" src="img/Fondos/02_Mercabarna/Imagen6.jpg">
      </div>
    </div>



    <div id="BackPostalTrans" style="background: transparent">
      <div id="BackPostal" class="BorderRounds">
        <div class="BackTextOrigen"></div>
        <div class="BackTextDestino"></div>
        <p class="BackTextMensaje"></p>
        <img class="Fondo BorderRounds" src="img/Fondos/Back_Postal.jpg">
        <img class="Guia" src="img/Fondos/Back_Postal.jpg">
      </div>
    </div>

    <div class="ConvierteAimagen btnMercaBarna" onclick="doCapture();">Descarrega la teva postal</div>
  </div>

  </div>


  <div id="Footer">
    <img class="BonNadal" src="img/Footer.png">
  </div>




  
  <!-- The template to display files available for upload -->
  <script id="template-upload" type="text/x-tmpl">
      {% for (var i=0, file; file=o.files[i]; i++) { %}
          <tr class="template-upload fade{%=o.options.loadImageFileTypes.test(file.type)?' image':''%}">
              <td>
                  <span class="preview"></span>
              </td>
              <td>
                  <p class="name rutaImg">{%=file.name%}</p>
                  <strong class="error text-danger"></strong>
              </td>
              <td>
                  <p class="size">Processing...</p>
                  <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
              </td>
              <td>
                  {% if (!o.options.autoUpload && o.options.edit && o.options.loadImageFileTypes.test(file.type)) { %}
                    <button class="btn btn-success edit" data-index="{%=i%}" disabled>
                        <i class="glyphicon glyphicon-edit"></i>
                        <span>Edit</span>
                    </button>
                  {% } %}
                  {% if (!i && !o.options.autoUpload) { %}
                      <button class="btn btn-primary start" onclick="myfunction();" disabled>
                          <i class="glyphicon glyphicon-upload"></i>
                          <span>Start</span>
                      </button>
                  {% } %}
                  {% if (!i) { %}
                      <button class="btn btn-warning cancel">
                          <i class="glyphicon glyphicon-ban-circle"></i>
                          <span>Cancel</span>
                      </button>
                  {% } %}
              </td>
          </tr>
      {% } %}
    </script>
  <!-- The template to display files available for download -->
  <script id="template-download" type="text/x-tmpl">
      {% for (var i=0, file; file=o.files[i]; i++) { %}
          <tr class="template-download fade{%=file.thumbnailUrl?' image':''%}">
              <td>
                  <span class="preview">
                      {% if (file.thumbnailUrl) { %}
                          <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                      {% } %}
                  </span>
              </td>
              <td>
                  <p class="name">
                      {% if (file.url) { %}
                          <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                      {% } else { %}
                          <span>{%=file.name%}</span>
                      {% } %}
                  </p>
                  {% if (file.error) { %}
                      <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                  {% } %}
              </td>
              <td>
                  <span class="size">{%=o.formatFileSize(file.size)%}</span>
              </td>
              <td>
                  {% if (file.deleteUrl) { %}
                      <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                          <i class="glyphicon glyphicon-trash"></i>
                          <span>Delete</span>
                      </button>
                  {% } else { %}
                      <button class="btn btn-warning cancel">
                          <i class="glyphicon glyphicon-ban-circle"></i>
                          <span>Cancel</span>
                      </button>
                  {% } %}
              </td>
          </tr>
      {% } %}
    </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
  <script src="js/vendor/jquery.ui.widget.js"></script>
  <!-- The Templates plugin is included to render the upload/download listings -->
  <script src="https://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
  <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
  <script src="https://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
  <!-- The Canvas to Blob plugin is included for image resizing functionality -->
  <script src="https://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
  <!-- blueimp Gallery script -->
  <script src="https://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
  <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
  <script src="js/jquery.iframe-transport.js"></script>
  <!-- The basic File Upload plugin -->
  <script src="js/jquery.fileupload.js"></script>
  <!-- The File Upload processing plugin -->
  <script src="js/jquery.fileupload-process.js"></script>
  <!-- The File Upload image preview & resize plugin -->
  <script src="js/jquery.fileupload-image.js"></script>
  <!-- The File Upload audio preview plugin -->
  <script src="js/jquery.fileupload-audio.js"></script>
  <!-- The File Upload video preview plugin -->
  <script src="js/jquery.fileupload-video.js"></script>
  <!-- The File Upload validation plugin -->
  <script src="js/jquery.fileupload-validate.js"></script>
  <!-- The File Upload user interface plugin -->
  <script src="js/jquery.fileupload-ui.js"></script>
  <!-- The main application script -->
  <script src="js/mercabarna.js"></script>

  <!-- <script src="js/html2canvas.js"></script> -->
  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.1/dist/html2canvas.min.js"></script>

  <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
  <!--[if (gte IE 8)&(lt IE 10)]>
      <script src="js/cors/jquery.xdr-transport.js"></script>
    <![endif]-->
  <script>

    function myfunction(param) {
      CargaFoto();

    }


    function RecalculaPostal() {

      return true;

      var AltImgPuesta = jQuery('.Fondo').height();
      var AltPostal = jQuery('#Postal').height();
      var AltImagenGuia = jQuery('.Guia').height();

      if (AltImgPuesta >= AltPostal) {

        jQuery(".Fondo").css('width', 'auto');
        jQuery(".Fondo").css('height', '100%');
      } else {

        jQuery(".Fondo").css('height', 'auto');
        jQuery(".Fondo").css('width', '100%');
      }

      return true;

      if (AltPostal != AltImagenGuia) {
        jQuery('#Postal').height(AltImagenGuia);
        jQuery(".Fondo").css('width', '100%');
        jQuery(".Fondo").css('height', 'auto');

      } else {

        if (AltPostal != AltImgPuesta) {

          if (AltImgPuesta >= AltPostal) {

            jQuery(".Fondo").css('height', 'auto');
            jQuery(".Fondo").css('width', '100%');
          } else {

            jQuery(".Fondo").css('width', 'auto');
            jQuery(".Fondo").css('height', '100%');
          }
        } else {

        }

      }

    }


    jQuery(document).ready(function () {
      RecalculaPostal();

      jQuery('#TitGalery > a.Texto_2').click();

      jQuery('.IdiomaESP').click(function (event) {

        jQuery(".TextoIntro1").text("Castellano");
        jQuery(".TextoIntro2").text("Castellano");
        jQuery(".VideoText").text("Castellano");
        jQuery(".Section1").text("Castellano");
        jQuery(".Section2").text("Castellano");
        jQuery(".Section3").text("Castellano");

        jQuery(".Datos1").text("Castellano");
        jQuery(".Datos2").text("Castellano");
        jQuery(".Datos3").text("Castellano");

        jQuery(".Section4").text("Castellano");
        jQuery(".ConvierteAimagen").text("Castellano");

      });

      jQuery('.IdiomaCAT').click(function (event) {

        jQuery(".TextoIntro1").text("Catalan");
        jQuery(".TextoIntro2").text("Catalan");
        jQuery(".VideoText").text("Catalan");
        jQuery(".Section1").text("Catalan");
        jQuery(".Section2").text("Catalan");
        jQuery(".Section3").text("Catalan");

        jQuery(".Datos1").text("Catalan");
        jQuery(".Datos2").text("Catalan");
        jQuery(".Datos3").text("Catalan");

        jQuery(".Section4").text("Catalan");
        jQuery(".ConvierteAimagen").text("Catalan");

      });



      jQuery('#TitFondo').on('click', 'a.linkFonsImage', function (e) {

        laimagen = $(this);

        var ImgSelect = jQuery(laimagen).attr("class");
        ImgTemp = ImgSelect;
        ImgSelect = ImgSelect.substr(ImgSelect.length - 1);
        ImgSelect = parseInt(ImgSelect);

        var LaRuta = jQuery(laimagen).find("img").attr("src");

        if (ImgSelect == 1) {

          var NumTemp = ImgTemp.substr(ImgTemp.length - 2);

          if (NumTemp == "n1") {
            jQuery('#fileupload span.btnMercaBarna input[type="file"]').click();
          } else {
            jQuery('#Postal').css('background', 'url(' + LaRuta + ')').css('background-size', 'cover').css('background-position', '50% 50%');
            RecalculaPostal();
          }
        } else {
          jQuery('#Postal').css('background', 'url(' + LaRuta + ')').css('background-size', 'cover').css('background-position', '50% 50%');
          RecalculaPostal();
        }


      });


    });

    window.onresize = function () {
      RecalculaPostal();
    }

    var Categoria;

    jQuery('#TitGalery a').click(function (event) {
      var NombreArchivoTitulo = jQuery(this).attr('class');
      var NumSeccionSucio = NombreArchivoTitulo;
      var NombreArchivoTitulo = "img/Titulos/" + NombreArchivoTitulo + ".png";
      jQuery('.Titulo').attr('src', NombreArchivoTitulo);
      RecalculaPostal();

      Categoria = NumSeccionSucio.substr(NumSeccionSucio.length - 1);
      CargaCategorias(Categoria);

    });


    jQuery('#De,#Per,#Desitjos').on("keyup", function () {
      if (jQuery('#De').val().length && jQuery('#Per').val().length && jQuery('#Desitjos').val().length) CargaTextos();
    });

    function CargaFoto() {
      var rutaImg = jQuery('.name a').attr('href');
      jQuery('#Postal').css('background', 'url(' + rutaImg + ')').css('background-size', 'cover').css('background-position', '50% 50%');
      RecalculaPostal();
    }

    jQuery('#fileupload span.btnMercaBarna.fileinput-button').click(function (event) {
      jQuery('#fileupload > table tr.template-download').remove();
    });


    function doCapture() {

      html2canvas(document.getElementById("PostalTrans"), { windowWidth: 1000, windowHeight: 565, scale: 1, allowTaint: true, backgroundColor: "rgba(0,0,0,0)", removeContainer: true }).then(function (canvas) {
        var a = document.createElement("a");
        a.id = "PostalFrontal";
        a.href = canvas.toDataURL("image/png");
        a.download = "Postal_Frontal_MercaBarna.png";
        document.body.appendChild(a);
        a.click();

      });


      html2canvas(document.getElementById("BackPostalTrans"), { windowWidth: 2310, windowHeight: 1308, allowTaint: true, backgroundColor: "rgba(0,0,0,0)", removeContainer: true }).then(function (canvas) {
        var a = document.createElement("a");
        a.id = "PostalFrontal";
        a.href = canvas.toDataURL("image/png");
        a.download = "Back_Postal_Frontal_MercaBarna.png";
        document.body.appendChild(a);
        a.click();

      });

    }

    function ImageReturne() {
      var div = document.getElementById("dvPrint").innerHTML;
      var firstFunc = function step1() { setTimeout('step2()', 10); }
      var secondFunc = function step2() { window.print(); window.close() }
      var getImages = "<html><head><script>\n" + firstFunc + "\n" + secondFunc + "</scri" + "pt></head><body onload='step1()'>\n" + "'" + div + "" + "</body></html>";
      return getImages;
    }


    function CargaTextos() {

      if (jQuery('#De').val() == "") {
      } else if (jQuery('#Per').val() == "") {
      } else if (jQuery('#Desitjos').val() == "") {
      } else {
        var Origen = jQuery('#De').val().substring(0, 29);
        var Destino = jQuery('#Per').val().substring(0, 29);
        var Mensaje = jQuery('#Desitjos').val().substring(0, 500);

        jQuery('.BackTextOrigen').text(Origen);
        jQuery('.BackTextDestino').text(Destino);
        jQuery('.BackTextMensaje').text(Mensaje);
      }
    }


    function CargaCategorias(Cat) {

      var Numfotos;
      var Seccion;
      var CatSeccion = parseInt(Cat)

      switch (CatSeccion) {
        case 1:
          Numfotos = 5;
          Seccion = "01_Flor";
          break;
        case 2:
          Numfotos = 11;
          Seccion = "02_Mercabarna";
          break;
        case 3:
          Numfotos = 2;
          Seccion = "03_Biomarket";
          break;
        case 4:
          Numfotos = 10;
          Seccion = "04_Peix";
          break;
        case 5:
          Numfotos = 12;
          Seccion = "05_Fruites";
          break;
        case 6:
          Numfotos = 1;
          Seccion = "02_Mercabarna";
          break;
        default:
          Numfotos = 11;
          Seccion = "02_Mercabarna";
      }

      jQuery('#TitFondo').html("");

      var i = 1;
      while (i <= Numfotos) {

        var FullHtml = "<a href=\"#SelectText\" class=\"linkFonsImage Imagen" + i + "\" _onclick=\"CargaFondos(this);\"><div class=\"Fons\"><img class=\"FonsImage\" src=\"img/Fondos/" + Seccion + "/Imagen" + i + ".jpg\"></div></a>";
        jQuery('#TitFondo').append(FullHtml);
        i++;
      }

    }

  </script>
</body>

</html>